  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(137, 135, 135);
  }

  h3 {
    text-align: center;
    color: rgb(137, 135, 135);
  }
  
  .jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .jogo button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
  }